header {
    height:  80px;
    background-color: var( --color-bg-secondary);
    color: var(--color-font-secondary);
    display: flex;
    align-items: center;
   
}

header h1 {
    font-size: 20px;
}